@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.pop-up-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.popup-title {
  font-size: 16px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  color: black;
}

.pop-up-item {
  color: black;
  display: flex;
  gap: 5px;
  align-items: center;
}

.popup-link {
  text-decoration: none;
}

.popup-icon {
  height: 15px;
}

.mapboxgl-popup-close-button {
  right: 5px !important;
}

input[type='range'] {
  accent-color: oklch(0.65 0.12 277.023);
}
